*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
    --theme-blue: rgb(25, 25, 136);
    --theme-red: rgb(187, 11, 11);
    --theme-color-black: rgb(31, 25, 25);
    --theme-color-white: white;
}
p{
    padding: 8px 0;
}
.main-header{
    padding: 20px 0;
    background: var(--theme-blue);
   
    /* border-bottom: 1px solid var(--theme-red); */
    /* margin: 20px auto; */
}
.masthead{
    text-align: center;
    background: white;
    color: var(--theme-red);
    text-transform: uppercase;
    letter-spacing: 6px;
    word-spacing: 20px;
    font-size: 1.4em;
    font-weight: 600;
    max-width: 600px;
    margin: auto;
    padding: 10px 0;
}
@keyframes scaleMasthead{
    from {transform: scale(.7)}
    to {transform: scale(1)}
}
.masthead-image{
    width: 100%;
    height: 30px;
    width: 30px;
}
.wrapper{
    width: 95%;
    margin: auto;
}
#landing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 350px;
    margin: auto;
    border-radius: 8px;
    background: var(--theme-color-white);
    box-shadow: 0 0 2px 2px gray;
}
#learn-nepali-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--theme-red);
    color: var(--theme-color-white);
    padding: 10px;
    margin-top: -30px;
    margin-bottom: 10px;
    width: 200px;
    height: 200px;
    border-radius: 8px;
    box-shadow: 1px -1px 1px 1px gray;
}
#learn-nepali-description span{
  color: lightgoldenrodyellow;
  font-weight: bolder;
}
#start-button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 250px;
    margin: auto;
    border-radius: 50%;
}
#start-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--theme-red);
    opacity: .8;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    line-height: 30px;
    color: var(--theme-color-white);
    width: 160px;
    height: 160px;
    border-radius: 50%;
    box-shadow: 0 -2px 2px 2px gray;
    cursor: pointer;
    transition: opacity 250ms ease-in-out;
    animation: scaleMasthead 2000ms ease-in-out infinite alternate;
}
#start-button:hover{
    opacity: 1;
    color: white;
}

#lessons{
    display: none;
    position: relative;
    transition: display 1s linear ease-in-out;
    width: 100%;
    max-width: 350px;
    margin: auto;
    background: var(--theme-color-white);
    box-shadow: 0 0 2px 2px gray;
    animation: dropLessons 2000ms ease-in-out;
}
@keyframes dropLessons{
    from {top: -600px}
    to {top: 0px;}
}

.main-nav{
    display: flex;
    justify-content: center;
    color: var(--theme-color-white);
    list-style-type: none;
    background: white;
}
.main-nav .main-link{
    text-transform: uppercase;
    background: var(--theme-red);
    font-size: .7em;
    padding: 5px 8px;
    margin: 0 1px;
    cursor: pointer;
    /* border-top-left-radius: 5px; */
    border-top-right-radius: 5px;
    box-shadow: 1px 0 1px 1px gray;
    /* letter-spacing: 1px; */
}
.main-nav .main-link:hover{
    color: bisque;
}
/* .main-nav .main-link:hover{
    background: var(--theme-blue);
} */
.main-nav .active{
    background: var(--theme-blue);
    color: var(--theme-color-white);
}
.lesson-level-title{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 7px;
    font-size: .9em;
    padding: 20px 0;
    background: white;
}
#beginner-level-nav, #intermediate-level-nav, #advanced-level-nav, #about-nav{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    color: var(--theme-color-white);
    list-style-type: none;
}
#beginner-level-nav .beginner-nav-link, #intermediate-level-nav .intermediate-nav-link, #advanced-level-nav .advanced-nav-link, #about-nav .about-nav-link{
    background: var(--theme-blue);
    padding: 5px 8px;
    margin: 0 1px;
    font-size: .8em;
    cursor: pointer;
    /* border-top-left-radius: 5px; */
    border-top-right-radius: 3px;
    box-shadow: 1px 0 1px 1px gray;
}
.beginner-nav-link:hover, .intermediate-nav-link:hover, .advanced-nav-link:hover, .about-nav-link:hover{
    color: rgb(224, 224, 64);
}
#beginner-level-nav .beginner-active-link, #intermediate-level-nav .intermediate-active-link, #advanced-level-nav .advanced-active-link, #about-nav .about-active-link{
    background: var(--theme-red);
}

#beginner-level, #intermediate-level, #advanced-level, #about-level{
    margin: auto;
    background: white;
    /* box-shadow: 0 0 2px 2px gray; */
}

.beginner-lesson, .intermediate-lesson, .advanced-lesson, .about-section {
    background: var(--theme-color-white);
    height: 350px;
    /* overflow: auto; */
    width: 100%;
    margin: 10px auto;
}
.lesson-title{
    text-align: center;
    color: var(--theme-color-white);
    background:var(--theme-blue);
    padding: 3px 0;
    font-size: 1em;
}

.about-section > div >p{
    padding: 10px 0;
}
.about-text{
    height: 300px;
    overflow:auto;
    background: white;
    padding: 10px;
}
footer{
    padding: 10px 0;
    background: var(--theme-blue);
    color: var(--theme-color-white);
    text-align: center;

}
@media only screen and (min-width: 550px){
    #landing, #lessons{
        width: 100%;
        max-width: 700px;
    }
    .main-nav, #beginner-level-nav, #intermediate-level-nav, #advanced-level-nav, #about-nav{
        font-size: 120%;
    }
}

@media only screen and (max-width: 450px){
    *{
        font-size: 103%;
    }
}

/* Lesson Boxes Styles now */

.vowel-lesson, .root-lesson, .syllable-lesson, .compound-lesson, .noun-lesson, .verb-lesson, .adjective-lesson, .adverb-lesson, .sentence-lesson, .present-lesson, .past-lesson, .future-lesson{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 300px;
    width: 300px;
    margin: 12px auto;
    border-radius: 8px;
    box-shadow: 0 0 3px 3px gray;
    animation: scaleLessons 2000ms ease-in-out;
}
@keyframes scaleLessons {
    from{transform: scale(.5);}
    to{transform: scale(1)}
}

.nepali{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 0;
    font-size: 5em;
    height: 150px;
    width: 150px;
    background: var(--theme-red);
    text-align: center;
    border-radius: 50%;
    color: white;
}
.english{
    position: absolute;
    top: 5px;
    left: 5px;
}
.picture{
    position: absolute;
    bottom: 5px;
    left: 5px;
    height: 60px;
    width: 60px;
    /* border-radius: 50%; */
    /* background:var(--theme-blue); */
}
.sound {
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.prev{
    position: absolute;
    top: 46%;
    left: 5px;
}
.next {
    position: absolute;
    top: 46%;
    right: 5px;
}
.prev, .next{
    background: var(--theme-red);
    color: white;
    padding: 5px 12px;
    border: 1px solid var(--theme-blue);
    cursor: pointer;
}
.prev:hover, .next:hover{
    background: white;
    color: var(--theme-red);
}
